/dist
/node_modules
/public/hot
/public/storage
/storage/*.key
/*.xlsx
/*.xls
/vendor
/.idea
/.vscode
/.vagrant
storage/api-docs/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.travis
.password
.password.enc
.password.key
phpunit.xml
.phpunit.result.cache
storage/logs/laravel.log
/public/api-rendered-markdowns/*
/public/api/
/public/uploads/
/laradock*/
!/laradock/php-worker/supervisord.d/notification-beanstalk-worker.conf
!/laradock/php-worker/supervisord.d/notification-redis-worker.conf

_ide_helper*.php
.phpstorm.meta.php

# netbeans project files
/nbproject/
nbproject/**
/storage/api-docs
