###postgres
DB_USERNAME=default
DB_PASSWORD=secret
###redis
REDIS_PASSWORD=secretpass
###clickhouse
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=default
###mail server
MAIL_USERNAME=null
MAIL_PASSWORD=null
###MINIO
MINIO_KEY=minio
MINIO_SECRET=123456789
###ELASTICSEARCH
ELASTIC_USER=
ELASTIC_PASS=
###LDAP
LDAP_USERNAME=manager@nng-loc.com
LDAP_PASSWORD=Qwerty1
###SMS Service
LOGIN_SMS_SERVICE =
PASSWORD_SMS_SERVICE =
